---
const year = new Date().getFullYear();
const link = 'https://astro.build/';
---

<footer class="flex justify-center mt-4 py-10">
  <p>Copyright &copy; {year} Shigang Chan. Powered by <a class="font-semibold hover:italic" href={link} target="_blank">Astro</a>.</p>
</footer>
