---
import { paths } from '../constant';
---

<nav class="flex py-10">
  <ul class="flex mx-auto">
    {paths.map((path) =>
      <li>
        <a class="px-6 text-zinc-700 sm:text-sm md:text-xl" href={path.route}>{path.name}</a>
      </li>
    )}
  </ul>
</nav>
