---
import { medias } from '../constant';
---

<article class="flex flex-col mx-auto sm:w-8/12 md:w-144">
  <h1 class="text-6xl font-bold leading-loose">👋 Hi there~</h1>
  <h3 class="text-4xl font-semibold leading-loose">Here is Shigang's Blog</h3>
  <p class="text-2xl leading-loose">I'm a senior Front-End Engineer from China.</p>
  <p class="text-2xl leading-loose">Formly, I worked in Ant Group and Meituan. </p>
  <p class="text-2xl leading-loose">
    Currently I focus on projects: <a class="hover:italic font-semibold" href="https://jestjs.io" target="_blank">Jest</a>, 
    <a class="hover:italic font-semibold" href="https://eslint.org/" target="_blank">ESLint</a>.
  </p>
  <p class="text-2xl leading-loose">And you can find me in the following ways:</p>
  <ul class="flex justify-center pt-2">
    {medias.map((media) =>
      <li class="pr-4">
        <a class="underline text-xl" href={media.link} target="_blank">{media.name}</a>
      </li>
    )}
  </ul>
</article>
