---
import Footer from '../components/footer/index.astro';
import Header from '../components/header/index.astro';
const { title } = Astro.props
---

<body class="max-w-3xl mx-auto min-h-screen">
  <Header title={title} />
  <main>
    <slot />
  </main>
  <Footer />
</body>
